{% extends 'base.html.twig' %}

{% block title %}Hello SeanceController!{% endblock %}

{% block body %}
<div>
    <div style="display:flex; gap: 2em">
        <p>
            <a href="#">{{ exercise.name }}</a>
        </p>
    </div>
</div>
{% endblock %}
